name: CI

on:
  schedule:
    - cron: '2 2 * * *'
  push:
    branches:
      - '*'
    tags:
      - 'v*.*.*'
  pull_request:
    branches:
      - '*'

jobs:
  build:
    name: "Build ${{ matrix.image.name }}"
    runs-on: ubuntu-latest
    strategy:
      matrix:
        image:
          - name: vladgh/gpg
            path: gpg
            platforms: linux/amd64
          - name: vladgh/minidlna
            path: minidlna
            platforms: linux/amd64,linux/386,linux/arm/v6,linux/arm/v7,linux/arm64/v8
          - name: vladgh/s3sync
            path: s3sync
            platforms: linux/amd64
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.4
      - name: Docker Metadata
        uses: docker/metadata-action@v3.3.0
        id: meta
        with:
          images: ${{ matrix.image.name }}
          tags: |
            type=schedule
            type=ref,event=branch
            type=ref,event=pr
            type=semver,pattern={{version}}
            type=semver,pattern={{major}}.{{minor}}
            type=semver,pattern={{major}}
            type=sha
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1.2.0
      - name: Set up Docker BuildX
        uses: docker/setup-buildx-action@v1.3.0
      - name: Login to DockerHub
        uses: docker/login-action@v1.9.0
        if: github.event_name != 'pull_request'
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v2.5.0
        with:
          context: ${{ matrix.image.path }}
          platforms: ${{ matrix.image.platforms }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          push: ${{ github.event_name != 'pull_request' }}
