name: Labels

on:
  workflow_dispatch:
  push:
    paths:
      - .github/labels.yml
    branches:
      - main

jobs:
  labels:
    name: Sync Labels
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b # v4.1.5
      - name: Label actions
        uses: micnncim/action-label-syncer@v1.3.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          manifest: .github/labels.yml
