---
name: Release Drafter

on:
  workflow_dispatch:
  push:
    branches:
      - main
  pull_request:

jobs:
  update_release_draft:
    name: Draft release
    runs-on: ubuntu-latest
    steps:
      - name: Run Release Drafter
        uses: release-drafter/release-drafter@v5.15.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
